<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>My JS13K Game</title>
    <link rel="stylesheet" href="css/style.css" inline />
  </head>
  <body>
    <div class="demo">
      <div class="demo__content">
        <div class="demo__card-cont">
          <div class="demo__card">
            <div class="demo__card__top brown">
              <div class="demo__card__img"></div>
              <p class="demo__card__name">Hungry cat 6</p>
            </div>
            <div class="demo__card__btm">
              <p class="demo__card__we">Whatever</p>
            </div>
            <div class="demo__card__choice m--reject"></div>
            <div class="demo__card__choice m--like"></div>
            <div class="demo__card__drag"></div>
          </div>

          <div class="demo__card">
            <div class="demo__card__top lime">
              <div class="demo__card__img"></div>
              <p class="demo__card__name">Hungry cat 5</p>
            </div>
            <div class="demo__card__btm">
              <p class="demo__card__we">Whatever</p>
            </div>
            <div class="demo__card__choice m--reject"></div>
            <div class="demo__card__choice m--like"></div>
            <div class="demo__card__drag"></div>
          </div>
          <div class="demo__card">
            <div class="demo__card__top cyan">
              <div class="demo__card__img"></div>
              <p class="demo__card__name">Hungry cat 4</p>
            </div>
            <div class="demo__card__btm">
              <p class="demo__card__we">Whatever</p>
            </div>
            <div class="demo__card__choice m--reject"></div>
            <div class="demo__card__choice m--like"></div>
            <div class="demo__card__drag"></div>
          </div>
          <div class="demo__card">
            <div class="demo__card__top indigo">
              <div class="demo__card__img"></div>
              <p class="demo__card__name">Hungry cat 3</p>
            </div>
            <div class="demo__card__btm">
              <p class="demo__card__we">Whatever</p>
            </div>
            <div class="demo__card__choice m--reject"></div>
            <div class="demo__card__choice m--like"></div>
            <div class="demo__card__drag"></div>
          </div>
          <div class="demo__card">
            <div class="demo__card__top blue">
              <div class="demo__card__img"></div>
              <p class="demo__card__name">Hungry cat 2</p>
            </div>
            <div class="demo__card__btm">
              <p class="demo__card__we">Whatever</p>
            </div>
            <div class="demo__card__choice m--reject"></div>
            <div class="demo__card__choice m--like"></div>
            <div class="demo__card__drag"></div>
          </div>
          <div class="demo__card">
            <div class="demo__card__top purple">
              <div class="demo__card__img"></div>
              <p class="demo__card__name">Hungry cat</p>
            </div>
            <div class="demo__card__btm">
              <p class="demo__card__we">Whatever</p>
            </div>
            <div class="demo__card__choice m--reject"></div>
            <div class="demo__card__choice m--like"></div>
            <div class="demo__card__drag"></div>
          </div>
        </div>
      </div>
    </div>

    <script src="scripts/game.js" inline></script>
  </body>
</html>
