<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>My JS13K Game</title>
    <link rel="stylesheet" href="css/style.css" inline />
  </head>
  <body>
    <div id="cardList">
      <div class="card">
        <div class="card__choice -accept"></div>
        <div class="card__choice -reject"></div>
      </div>
      <div class="card">
        <div class="card__choice -accept"></div>
        <div class="card__choice -reject"></div>
      </div>
      <div class="card">
        <div class="card__choice -accept"></div>
        <div class="card__choice -reject"></div>
      </div>
    </div>
    <script src="scripts/game.js" inline></script>
  </body>
</html>
