#wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 80vw;
    max-width: 400px;
    height: 90vh;
    margin: auto;
    user-select: none;
}

#cardList {
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 540px;
}

.card {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    font-size: 18px;
    transform-origin: 50% 100%;
    background: #fff;
    border-bottom: 5px solid #dadada;
    border-radius: 12px;
    overflow: hidden;
    transition: all 0.2s ease;
    animation: append-card 0.2s ease;

    &:nth-child(3) {
        transform: translateY(12px) scale(0.95);
    }

    &:nth-child(2) {
        transform: translateY(24px) scale(0.9);
    }

    &:first-child {
        transform: translateY(36px) scale(0.85);
        opacity: 0;
    }

    &.reset {
        transition: transform 0.3s;
        transform: translateX(0) !important;

        .card__choice {
            transition: opacity 0.3s;
            opacity: 0 !important;
        }
    }

    &.inactive {
        transition: transform 0.3s;
    }

    &.to-left {
        transform: translateX(-30rem) rotate(-30deg) !important;
    }

    &.to-right {
        transform: translate(30rem) rotate(30deg) !important;
    }

    // Dragabble element over all others
    &__drag {
        z-index: 5;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        cursor: grab;
    }

    p {
        padding-top: 16px;
    }

    b:not(:first-child) {
        margin-left: 8px;
    }
}

.card__content {
    position: relative;
    padding: 0 16px 16px;
}

.card__race {
    position: absolute;
    top: 0;
    right: 16px;
    padding: 8px 12px;
    transform: translateY(-50%);
    background: $primary-color-1;
    border-radius: 12px;
    color: $color-white;
    font-size: 24px;
}

.card__image {
    position: relative;
    width: 100%;
    padding-top: 93%;

    svg {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}

.card__name {
    font-size: 24px;
}

.card__face {
    top: calc(50% - 85px);
    filter: drop-shadow(9px 0 0 currentColor);
}

.card__eyes {
    top: calc(50% - 30px);
}

.card__mouth {
    top: calc(50% + 20px);
}

.card_ears {
    top: calc(50% - 35px);
}

.card__clothes {
    bottom: 0;
    top: auto;
}

.card__choice {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;

    &.-reject {
        background: rgba($color-orange, 0.7);
    }

    &.-accept {
        background: rgba($color-green, 0.7);
    }
}

.toasts-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.toast {
    font-size: 17px;
    color: #f1f1f1;
    padding: 10px;
    margin: 10px 0;
    min-width: 150px;
    border-radius: 2px;
}

.timer-container {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
}
