$w: 30.6rem;
$h: 54rem;
$cardW: 24rem;
$cardH: 32rem;
$cardTopH: 20.5rem;
$cardBtmH: $cardH - $cardTopH;
$imgSize: 10rem;

$purple: #7132b9;
$blue: #248cb6;
$indigo: #303f9f;
$cyan: #26c6da;
$lime: #afb42b;
$brown: #795548;

$orange: #ff945a;
$green: #b1da96;

#cardList {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100vw;
    max-width: 400px;
    height: 80vh;
    max-height: 600px;
    transform: translate(-50%, -50%);
    background: #f6f6f5;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.card {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform-origin: 50% 100%;
    background-color: #248cb6;

    &:nth-child(2) {
        background-color: #303f9f;
    }

    &.reset {
        transition: transform 0.3s;
        transform: translateX(0) !important;

        .card__choice {
            transition: opacity 0.3s;
            opacity: 0 !important;
        }
    }

    &.inactive {
        transition: transform 0.3s;
    }

    &.to-left {
        transform: translateX(-30rem) rotate(-30deg) !important;
    }

    &.to-right {
        transform: translate(30rem) rotate(30deg) !important;
    }

    &__drag {
        z-index: 5;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        cursor: grab;
    }
}

.card__choice {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;

    &::before {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        width: 20px;
        height: 20px;
        margin-left: -10px;
        color: #fff;
        border-radius: 50%;
        box-shadow: -20px -30px #fff, 20px -30px #fff;
    }

    &:after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        width: 40px;
        height: 15px;
        margin-left: -20px;
        border: 6px solid #fff;
        border-bottom: none;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    &.-reject {
        background: $orange;
    }

    &.-accept {
        background: $green;

        &:after {
            transform: scaleY(-1);
        }
    }
}
