#cardList {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100vw;
    max-width: 400px;
    height: 80vh;
    max-height: 600px;
    transform: translate(-50%, -50%);
}

.card {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 18px;
    padding: 16px;
    transform-origin: 50% 100%;
    background: #fff;
    box-shadow: 0 3px 8px rgba(63, 63, 63, 0.25);
    border-radius: 12px;

    &.reset {
        transition: transform 0.3s;
        transform: translateX(0) !important;

        .card__choice {
            transition: opacity 0.3s;
            opacity: 0 !important;
        }
    }

    &.inactive {
        transition: transform 0.3s;
    }

    &.to-left {
        transform: translateX(-30rem) rotate(-30deg) !important;
    }

    &.to-right {
        transform: translate(30rem) rotate(30deg) !important;
    }

    &__drag {
        z-index: 5;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        cursor: grab;
    }

    p {
        margin-top: 16px;
    }

    b:not(:first-child) {
        margin-left: 8px;
    }
}

.card__image {
    position: relative;
    width: 100%;
    padding-top: 85%;
    border-radius: 12px;

    svg {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}

.card__name {
    font-size: 24px;
}

.card__face {
    top: calc(50% - 85px);
    filter: drop-shadow(9px 0 0 currentColor);
}

.card__eyes {
    top: calc(50% - 30px);
}

.card__mouth {
    top: calc(50% + 20px);
}

.card_ears {
    top: calc(50% - 35px);
}

.card__clothes {
    bottom: 0;
    top: auto;
}

.card__choice {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;

    &::before {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        width: 20px;
        height: 20px;
        margin-left: -10px;
        color: #fff;
        border-radius: 50%;
        box-shadow: -20px -30px #fff, 20px -30px #fff;
    }

    &:after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        width: 40px;
        height: 15px;
        margin-left: -20px;
        border: 6px solid #fff;
        border-bottom: none;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    &.-reject {
        background: #e35b5b;
    }

    &.-accept {
        background: #8be895;

        &:after {
            transform: scaleY(-1);
        }
    }
}

.toasts-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.toast {
    font-size: 17px;
    color: #f1f1f1;
    padding: 10px;
    margin: 10px 0;
    min-width: 150px;
    border-radius: 2px;
}

.timer-container {
    text-align: center;
    font-size: 2rem;
}
