* {
    margin: 0;
    padding: 0;

    &,
    &::before,
    &::after {
        box-sizing: border-box;
    }
}

html {
    font-size: 62.5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background: $background-color;
    overflow: hidden;
}
