#tutorial {
    font-family: Tahoma, sans-serif;
}

#tutorial-1 {
    padding: 24px;
    text-align: center;
    margin: 10% auto;
    width: 100%;
    max-width: 600px;
    background: #fff;
    box-shadow: 0 4px 0 #ddd;
    border-radius: 12px;
    color: #212226;
    padding-top: 10px;
    font-size: 24px;

    span {
        display: none;
    }

    &[data-step="1"] {
        > :first-child {
            display: block;
        }
    }
    &[data-step="2"] {
        > :nth-child(2) {
            display: block;
        }
    }
    &[data-step="3"] {
        > :last-child {
            display: block;
        }
    }

    button {
        margin-top: 24px;
    }

    b {
        display: block;
        margin-bottom: 8px;
        font-size: 40px;
        color: #4d274d;
    }
}

#tutorial-2,
#tutorial-3 {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
}

i {
    font-style: normal;
}

#tutorial-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
}
